<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPersonelService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62647/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPersonelService" contract="PersonelService.IPersonelService"
                name="BasicHttpBinding_IPersonelService" />
        </client>
    </system.serviceModel>

	<connectionStrings>
		<add name="Connect"
			 connectionString="Server=DESKTOP-NK5305U\BTKKURS;Database=MyDb;TRUSTED_CONNECTION=SSPI;" />
	</connectionStrings>
</configuration>